asgiref==3.6.0
channels==4.0.0
django==4.1.6
pdfminer==20191125
requests==2.23.0
six==1.10.0
daphne
django-rosetta
scipy
nltk
pandas
gunicorn
channels_redis
pymemcache
whitenoise
redis
django-redis-cache
django_heroku
django-bmemcached
dj-database-url
tiktoken
#git+https://github.com/qkral/pyfpdf.git
langchain==0.0.124
openai==0.27.0
faiss-cpu
fpdf2
pylatexenc
pdfkit
beautifulsoup4
html5lib
