{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% get_current_language as LANGUAGE_CODE %}

{% block title %}{% trans 'About Our AI-Powered arXiv Paper Summarization Service' %} {% endblock %}
{% block extra_head_tags %}
  <meta name="description" content="{% trans 'Learn more about our innovative AI-powered arXiv paper summarization service. Find out how our team of experts leverages cutting-edge technologies to deliver fast, accurate, and easy-to-read paper summaries.' %}" />
  <link rel="canonical" href="https://www.summarizepaper.com/{{LANGUAGE_CODE}}/about/" />
<style>
  .containera{
    padding: 20px;
  }
  
  .disclaimer {
  background-color: #f2f2f2;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 20px;
  margin-top: 40px;
}

.disclaimer p {
  font-size: 16px;
  line-height: 1.5;
  margin: 0;
  color: #333;
}

.disclaimer strong {
  font-weight: bold;
  color: #0052cc;
}

</style>
{% endblock %}

{% block header_class %}{% endblock %}

{% block content %}

<div class="containera">
<h1>{% trans 'About Us' %}</h1>
<p>{% trans 'Welcome to our website, where we use cutting-edge AI technology to summarize the latest research papers from arXiv. Our goal is to make it easy for you to stay up-to-date on the latest developments in your field of interest, without having to spend hours reading through lengthy research papers. It can also be useful if you are not a researcher but want to understand the content of published articles in a certain field. Everyone has the ability to verify information, thereby reducing the spread of misinformation. We wish to thank arXiv for use of its open access interoperability.' %}</p>

<h2>{% trans 'How We Do It' %}</h2>
<p>{% trans 'Our AI algorithms analyze each paper and extract the key findings and conclusions, presenting them to you in a concise and easily digestible format. By automating this process, we are able to provide you with an AI assistant to answer your questions about the content of articles in a fraction of the time it would take you to read them all in their entirety. ' %}</p>

<h2>{% trans 'Our Team' %}</h2>
<p>{% trans 'The team is currently made up of one researcher in astrophysics (Quentin Kral) with a passion to make complex information more accessible. Our goal is to allow everyone to benefit from all research findings and thereby avoid fake news.' %}</p>

<div class="disclaimer">
  <p><strong>{% trans 'Disclaimer:' %}</strong> {% trans 'The AI-based summarization tool and virtual assistant provided on this website may not always provide accurate and complete summaries or responses. We encourage you to carefully review and evaluate the generated content to ensure its quality and relevance to your needs.' %}</p>
</div>

</div>
{% endblock %}

{% block scripts %}


{% endblock %}
