{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}

{% block title %} {% trans 'Frequently Asked Questions - Our AI-Powered Summarization Service' %} {% endblock %}
{% block extra_head_tags %}
  <meta name="description" content="{% trans 'Find answers to commonly asked questions about our AI-powered arXiv paper summarization service. Learn how our technology works, what types of papers we summarize, and how to get started with our service.' %}" />
  <link rel="canonical" href="https://www.summarizepaper.com/{{LANGUAGE_CODE}}/faq/" />
  <style>
    .container {
     width: 80%;
     margin: 0 auto;
     text-align: center;
   }

   h1 {
     font-size: 36px;
     font-family: sans-serif;
     margin-bottom: 50px;
   }

   .faq {
     background-color: #f2f2f2;
     border-radius: 10px;
     box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
     padding: 30px;
     margin-bottom: 30px;
   }

   .question {
     font-size: 24px;
     font-family: sans-serif;
     margin-bottom: 10px;
     cursor: pointer;
   }

   .answer {
     font-size: 18px;
     font-family: sans-serif;
     margin-bottom: 10px;
     display: none;
   }
    </style>
{% endblock %}

{% block header_class %}{% endblock %}

{% block content %}

<div class="container">
      <h1>{% trans "Frequently Asked Questions" %}</h1>
      <div class="faq">
        <div class="question" onclick="toggleAnswer(this)">{% trans "What is this website about?" %}</div>
        <div class="answer">
          {% trans "This website is a platform that summarizes scientific papers from arXiv using AI and allows you to interrogate our virtual assistant about the content of all articles." %}
        </div>
      </div>
      <div class="faq">
        <div class="question" onclick="toggleAnswer(this)">{% trans "How does the AI summarization work?" %}</div>
        <div class="answer">
          {% trans "The AI uses advanced machine learning algorithms to analyze and extract the most important information from the papers, and present it in a condensed and understandable format. It is using the latest engines from OpenAI, gpt3, gpt3.5 and gpt4." %}
        </div>
      </div>
      <div class="faq">
        <div class="question" onclick="toggleAnswer(this)">{% trans "Who is behind this website?" %}</div>
        <div class="answer">
          {% trans "This website is developed and maintained by a researcher in astrophysics (Quentin Kral) who want to allow everyone to access research results." %}
        </div>
      </div>
      <div class="faq">
        <div class="question" onclick="toggleAnswer(this)">{% trans "How can I cite you?" %}</div>
        <div class="answer">
         <p>{% trans 'In bibtex you can use the following snippet' %}</p>
          <p>
            {% with curly_open="{{" curly_close="}}" %}
            <pre style="text-align: left;display: inline-block;margin: 0 auto;">
              @software{SummarizePaper,
                author = {{ curly_open }}{{sofauthor}}{{ curly_close }},
                title = { {{ softitle }} },
                url = { {{sofurl}} },
                year = { {{sofyear}} },
                date = { {{sofdate}} },
              }
        </pre>
        {% endwith %}
        </p>
        {% blocktrans %}
        <p>In other cases, anything which includes our summarizepaper.com URL is OK. For example:
          "<a href='https://carbonfreeconf.com'>CarbonFreeConf.com</a>; {{ softitle }}; <a href='{{ sofurl }}'>SummarizePaper.com</a> accessed xxxx/xx/xx"</p>      
          {% endblocktrans %}

        </div>
      </div>
      <div class="faq">
        <div class="question" onclick="toggleAnswer(this)">{% trans "How can I suggest a paper for summarization?" %}</div>
        <div class="answer">
          {% trans "You can search for a specific paper using the search bar on the home page or just type in the arXiv ID of the paper you want to summarize and it will show you a summary and more. Note that if it is the first time this specific article is being looked for, then it will have to run our AI code to summarize it, which may take a few minutes." %}
        </div>
      </div>
      <div class="faq">
        <div class="question" onclick="toggleAnswer(this)">{% trans "Is this website free to use?" %}</div>
        <div class="answer">
          {% trans "Yes, this website is completely free to use." %}
        </div>
      </div>
      <div class="faq">
        <div class="question" onclick="toggleAnswer(this)">{% trans "What is the process of summarizing a paper?" %}</div>
        <div class="answer">
          {% trans "The process of summarizing a paper involves several steps, including text pre-processing, feature extraction, and summarization using a series of complex prompts. The AI uses a combination of natural language processing and machine learning techniques to analyze the paper and generate a concise summary." %}
        </div>
      </div>
      <div class="faq">
        <div class="question" onclick="toggleAnswer(this)">{% trans "Is the code open-source?" %}</div>
        <div class="answer">
          {% blocktrans %} Yes, the code is open source and <a href="https://github.com/summarizepaper/summarizepaper">freely accessible</a>. You can join us and help to make the tool even better. {% endblocktrans %}
        </div>
      </div>
      <div class="faq">
        <div class="question" onclick="toggleAnswer(this)">{% trans "Is there a limit to the number of papers I can summarize?" %}</div>
        <div class="answer">
          {% trans "There is no limit to the number of papers you can summarize (but this may change if it gets overloaded). You can use the platform as much as you need to keep updated on the latest research developments." %}
        </div>
      </div>
    </div>
{% endblock %}

{% block scripts %}

<script>
  function toggleAnswer(question) {
    const answer = question.nextElementSibling;
    if (answer.style.display === "block") {
      answer.style.display = "none";
    } else {
      answer.style.display = "block";
    }
  }
</script>

{% endblock %}
