{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}

{% block title %} {% trans 'History of Summarized arXiv papers - Get Accurate and Fast Paper Summaries' %} {% endblock %}
{% block extra_head_tags %}
  <meta name="description" content="{% trans 'Our AI-powered paper summarization service provides fast, accurate, and easy-to-read summaries of research articles. Save time and stay up-to-date with the latest research with our cutting-edge technology.' %}" />
  <link rel="canonical" href="https://www.summarizepaper.com/{{LANGUAGE_CODE}}/history/" />
  <style>

    .history {
      max-width: 800px;
      margin: 0 auto;
      padding: 20px;
    }

    .history-title {
      font-size: 36px;
      font-weight: bold;
      text-align: center;
      margin: 0;
      margin-bottom:20px;
      padding: 0;
      color: #333;
    }

    .history-list {
      list-style: none;
      margin: 0;
      padding: 0;
    }

    .history-item {
      margin-bottom: 20px;
      padding: 10px 10px;
      background-color: #f9f9f9;
      border-radius: 5px;
    }

    .history-link {
      color: #333;
      text-decoration: none;
      font-size: 18px;
      font-weight: bold;
    }

    .history-link:hover {
      color: #009688;
    }

    .history-message {
      font-size: 24px;
      font-style: italic;
      text-align: center;
      margin: 50px 0;
      padding: 0;
      color: #666;
    }

  </style>
{% endblock %}

{% block header_class %}{% endblock %}

{% block content %}

{% if auth %}
<div class="history">
    <h1 class="history-title">{% trans 'Your History' %} ({{ user.username }})</h1>
{% if paper_history %}
<ul class="history-list">
{% for h in paper_history %}
{% if h.title %}
  <li class="history-item"><a href="/{{LANGUAGE_CODE}}/arxiv-id/{{ h.arxiv_id }}" class="history-link">{{ h.title }}</a> (arXiv Id: {{ h.arxiv_id }}, Date: {{ h.date|date:"j F Y" }})</li>
{% else %}
  <li class="history-item">arXiv Id: <a href="/{{LANGUAGE_CODE}}/arxiv-id/{{ h.arxiv_id }}" class="history-link">{{ h.arxiv_id }}</a> (Date: {{ h.date }})</li>
{% endif %}
{% endfor %}
</ul>
{% else %}
<p class="history-message">No history yet</p>
{% endif %}
{% else %}
<p class="history-message">{% trans 'You cannot access this page.' %}</p>
{% endif %}
</div>
{% endblock %}

{% block scripts %}



{% endblock %}
