{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}

{% block title %} {% trans 'Legal Notice - AI-Powered arXiv Paper Summarization Service' %} {% endblock %}
{% block extra_head_tags %}
  <meta name="description" content="{% trans 'Learn more about our legal notice for our AI-powered arXiv paper summarization service.' %}" />
  <link rel="canonical" href="https://www.summarizepaper.com/{{LANGUAGE_CODE}}/legal-notice/" />
  <style>
    body {
      font-family: Arial, sans-serif;
      margin: 0;
      padding: 0;
    }

    main h1, main h2, main p {
      text-align: left;
      margin-left: auto;
      width: 70%;
    }

    main {
      padding: 20px;
    }

    h2 {
      color: #333;
      font-size: 24px;
      margin-top: 40px;
    }

    p {
      font-size: 18px;
      margin-bottom: 10px;
    }

    strong {
      color: #333;
      display: block;
      font-size: 18px;
      margin-bottom: 10px;
    }
  </style>
{% endblock %}

{% block header_class %}{% endblock %}

{% block content %}

<main>
  <h1>Legal Notice</h1>
  <p><i>In english.</i></p>

  <h2>Company Information</h2>
  <p><strong>Company name:</strong> CarbonFreeConf</p>
  <p><strong>Company Address:</strong> 3 bis rue de la Garenne, 17170, Courçon, France</p>
  <p><strong>Registration number to the RCS:</strong> 895 105 955</p>
  <p><strong>Company email address:</strong> admin@carbonfreeconf.com</p>
  <p><strong>Type of Company:</strong> SASU (French company)</p>
  <p><strong>Share capital:</strong> 300 €</p>
  <p><strong>Publication director:</strong> Quentin Kral</p>

  <h2>Website Information</h2>
  <p><strong>Website hosting company:</strong> Heroku.com, Salesforce Tower, 415 Mission Street, 3rd Floor, San Francisco, CA 94105 Main: 1-800-NO-SOFTWARE, Fax: 415-901-7040</p>
  <p><strong>Activity:</strong>Summarizing Papers</p>
  <br>
  <hr>
  <p><i>En français.</i></p>
  <h2>Informations sur la Société</h2>
  <p><strong>Nom de la société :</strong> CarbonFreeConf</p>
  <p><strong>Adresse de la société :</strong> 3 bis rue de la Garenne, 17170, Courçon, France</p>
  <p><strong>Numéro d'enregistrement au RCS :</strong> 895 105 955</p>
  <p><strong>Adresse email de la société :</strong> admin@carbonfreeconf.com</p>
  <p><strong>Type de société :</strong> SASU (société française)</p>
  <p><strong>Capital social :</strong> 300 €</p>
  <p><strong>Directeur de publication :</strong> Quentin Kral</p>
  <h2>Informations sur le site Web</h2>
  <p><strong>Société d'hébergement du site Web :</strong> Heroku.com, Salesforce Tower, 415 Mission Street, 3ème étage, San Francisco, CA 94105 Tél. : 1-800-NO-SOFTWARE, Fax : 415-901-7040</p>
  <p><strong>Activité :</strong>Résumé d'articles</p>
</main>

{% endblock %}

{% block scripts %}


{% endblock %}
