{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}

{% block title %} {% trans 'Our Privacy Policy - AI-Powered arXiv Paper Summarization Service' %} {% endblock %}
{% block extra_head_tags %}
  <meta name="description" content="{% trans 'We take your privacy seriously. Learn more about our privacy policy for our AI-powered arXiv paper summarization service. Discover how we protect your data, what information we collect, and how we use it to improve our service.' %}" />
  <link rel="canonical" href="https://www.summarizepaper.com/{{LANGUAGE_CODE}}/privacy/" />
  <style>
    body {
      font-family: Arial, sans-serif;
      margin: 0;
    }
    h1, h2 {
      text-align: center;
    }
    .container-pol {
      max-width: 800px;
      margin: 0 auto;
      margin-bottom:30px;
      text-align:justify;
    }
  </style>
{% endblock %}

{% block header_class %}{% endblock %}

{% block content %}

<div class="container-pol">
      <h1>{% trans "Privacy Policy" %}</h1>
      <p><small>{% trans 'Last update:' %} 23/02/23</small></p>
      <p>
        {% trans "Our website is committed to protecting the privacy of its users. This Privacy Policy outlines the types of information we collect, how we use it, and how we protect it. We are dedicated to following industry best practices and respecting the General Data Protection Regulation (GDPR) and other relevant privacy laws." %}
      </p>
      <h2>{% trans "Information Collection and Use" %}</h2>
      <p>
        {% trans "We do not collect information from our users when they use our website unless they create an account. The only time we do keep personal information is when users contact us via our contact form so that we can then reply to them. In this case, we keep the name, email address and message." %}
      </p>
      <p>
        {% trans "We do not sell or share any personal information with third-party companies. All user data is kept confidential and is only used in accordance with this Privacy Policy." %}
      </p>
      <h2>{% trans "Cookies" %}</h2>
      <p>
        {% trans "Our website only uses necessary cookies (e.g. to help protect the website against Cross-Site Request Forgery attacks)." %}
      </p>
      <p>
        {% trans "Users have the option to disable cookies in their web browser, but this may affect the functionality of our website." %}
      </p>
      <h2>{% trans "Data Security" %}</h2>
      <p>
        {% trans "We take appropriate measures to protect the security of our users' personal information. However, no data transmission over the internet can be guaranteed to be 100% secure. As a result, we cannot guarantee the security of any information transmitted to our website." %}
      </p>
      <p>
        {% trans "In the unlikely event of a data breach, we will promptly notify affected users and take appropriate measures to secure their information." %}
      </p>
      <h2>{% trans "Open Source" %}</h2>
      <p>
        {% blocktrans %} Our website is built as an <a href="https://github.com/summarizepaper/summarizepaper" target="_blank">open source software</a>, which allows for greater transparency and security. The codebase is available for public inspection and contributions are welcomed from the open source community. {% endblocktrans %}
      </p>
      <h2>{% trans "Changes to this Privacy Policy" %}</h2>
      <p>
        {% trans 'We reserve the right to make changes to this Privacy Policy at any time. If changes are made, we will notify users by updating the "Effective Date" at the top of this page. We encourage users to periodically review this Privacy Policy to stay informed about how we are protecting their information.' %}
</p>
<h2>{% trans "Contact Us" %}</h2>
<p>
{% trans "If you have any questions or concerns about this Privacy Policy, please contact us using the" %} <a href="/{{LANGUAGE_CODE}}/contact">{% trans "dedicated page" %}</a>. {% trans "We are always happy to hear from our users and will make every effort to address any issues." %}
</p>
</div>
{% endblock %}

{% block scripts %}


{% endblock %}
