{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block title %} About the CarbonFreeConf team that organizes seminars and conferences {% endblock %}
{% block extra_head_tags %}
  <meta name="description" content="Meet the team that allowed virtual conferences to be carbon-neutral." />
  <link rel="canonical" href="https://www.carbonfreeconf.com/about/" />
  <!--add text-->
  <style>

  #progress-bar {
    width: 500px;
    height: 50px;
    border-radius: 25px;
    background-color: lightgrey;
    position: relative;
    margin: 50px auto;
  }

  #progress {
    height: 100%;
    background-color: green;
    border-radius: 25px;
    position: absolute;
    left: 0;
    top: 0;
    transition: width 0.5s ease-in-out;
  }

  #progress-text {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 20px;
    font-weight: bold;
    color: white;
  }

  #loading-message {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    color:red;
    padding: 20px;
  }
</style>
{% endblock %}

{% block header_class %}{% endblock %}

{% block content %}


    <h1>Summary</h1>
    <p>{{ summary }}</p>

    <div id="loading-message"></div>
    <div id="progress-bar">
      <div id="progress" style="width: 0%">
        <div id="progress-text"></div>
      </div>
    </div>

    <script>
    var socketl = new WebSocket("ws://" + window.location.host + "/loading/");

    socketl.onmessage = function(e) {
      const data = JSON.parse(e.data);
      console.log('oklmmm',data.message);
      document.getElementById("loading-message").innerHTML = data.message.loading_message;
      document.getElementById("progress").style.width = data.message.progress + "%";
      if(data.message.progress !=0){
        document.getElementById("progress-text").innerHTML = data.message.progress + "%";
      }
      if (data.type === 'progress_update') {
        console.log('ok');
      }
    };

    socketl.onclose = function(e) {
      console.error('WebSocket closed with code: ' + e.code);
    };


        //document.querySelector('#chat-log').value += (data.message + '\n');
    </script>

{% endblock %}

{% block scripts %}

<script>
  /*
  const notification_websocket = new WebSocket(
            'ws://' +
            window.location.host +
            '/ws/notifications/'
        );

        notification_websocket.onmessage = function (e) {
            let data = JSON.parse(e.data);
            console.log("Just received this from the back end.. 0", data);
        }

        notification_websocket.onclose = function (e) {
            console.log("websocket closed");
        }*/

    console.log('hhfh',window.location.host);
    //var socket = new WebSocket("ws://" + "localhost:8000" + "/my-websocket/");
    const socket = new WebSocket(
        'ws://'
        + window.location.host
        + '/ws/my-websocket'
        + '/'
    );
    socket.onmessage = function(e) {
        console.log("Message received:", e.data);
    };

    socket.onopen = function() {
        console.log("WebSocket connected");
        socket.send(JSON.stringify({
            'message': 'Hello from the client'
        }));
    };

    socket.onclose = function() {
        console.log("WebSocket disconnected");
    };
</script>
{% endblock %}
