{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block title %} About the CarbonFreeConf team that organizes seminars and conferences {% endblock %}
{% block extra_head_tags %}
  <meta name="description" content="Meet the team that allowed virtual conferences to be carbon-neutral." />
  <!--add text-->

{% endblock %}

{% block header_class %}{% endblock %}

{% block content %}

<h2>Invalid activation link</h2>
    <p>The activation link is invalid or has already been used. Please request a new activation email if you haven't already activated your account.</p>

{% endblock %}

{% block scripts %}

{% endblock %}
