{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block title %} {% trans 'Invalid Account Activation Link - AI-Powered arXiv Paper Summarization Service' %} {% endblock %}
{% block extra_head_tags %}
  <meta name="description" content="{% trans 'The account activation link you tried to use is invalid or has expired. Please request a new activation link or contact our support team for assistance. Sign up today to start getting fast, accurate, and easy-to-read paper summaries. Our secure service ensures that your data is protected and your account is safe.' %}" />
  <!--add text-->

{% endblock %}

{% block header_class %}{% endblock %}

{% block content %}

<h2>Invalid activation link</h2>
    <p>The activation link is invalid or has already been used. Please request a new activation email if you haven't already activated your account.</p>

{% endblock %}

{% block scripts %}

{% endblock %}
