{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block title %} About the CarbonFreeConf team that organizes seminars and conferences {% endblock %}
{% block extra_head_tags %}
  <meta name="description" content="Meet the team that allowed virtual conferences to be carbon-neutral." />
  <!--add text-->
  <style>
    body {
      background-color: #F5F5F5;
      font-family: Arial, sans-serif;
      font-size: 16px;
    }



    h1 {
      text-align: center;
      margin-bottom: 40px;
    }

    
</style>
{% endblock %}

{% block header_class %}{% endblock %}

{% block content %}

<h1>Password Reset Sent</h1>
  <p style="margin-left:30px;">An email has been sent to your address with instructions on how to reset your password.</p>

{% endblock %}

{% block scripts %}

{% endblock %}
