{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block title %} {% trans 'Confirm Password Reset - Securely Access AI-Powered arXiv Paper Summaries' %} {% endblock %}
{% block extra_head_tags %}
  <meta name="description" content="{% trans 'Confirm your password reset for our AI-powered arXiv paper summarization service with our secure confirmation form. Follow the instructions and get back into your account to access your paper summaries. Get fast, accurate, and easy-to-read paper summaries.' %}" />
  <!--add text-->
  <style>
    body {
      background-color: #F5F5F5;
      font-family: Arial, sans-serif;
      font-size: 16px;
    }

    form {
      margin-top: 50px;
      padding: 30px;
      background-color: #FFFFFF;
      border-radius: 10px;
      box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
    }

    h1 {
      text-align: center;
      margin-bottom: 40px;
    }

    input[type="submit"] {
      width: 100%;
      padding: 10px;
      background-color: #4CAF50;
      color: #FFFFFF;
      border: none;
      border-radius: 5px;
      margin-top: 20px;
      cursor: pointer;
    }
    #id_email {
    width: 80%;
    height: 50px;
    font-size: 20px;
  }
</style>
{% endblock %}

{% block header_class %}{% endblock %}

{% block content %}

<h1>Reset Your Password</h1>
  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Reset Password</button>
  </form>


{% endblock %}

{% block scripts %}

{% endblock %}
