{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block title %} {% trans 'Password Reset Complete - Secure Access to AI-Powered arXiv Paper Summaries' %}{% endblock %}
{% block extra_head_tags %}
  <meta name="description" content="{% trans 'Your password has been successfully reset! Log in securely to our AI-powered arXiv paper summarization service to access your account and view your past summaries. Our secure system ensures that your data is protected and your account is safe. Get fast, accurate, and easy-to-read paper summaries.' %}" />
  <!--add text-->
  <style>
    body {
      background-color: #F5F5F5;
      font-family: Arial, sans-serif;
      font-size: 16px;
    }

    form {
      margin-top: 50px;
      padding: 30px;
      background-color: #FFFFFF;
      border-radius: 10px;
      box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
    }

    h1 {
      text-align: center;
      margin-bottom: 40px;
    }

    input[type="submit"] {
      width: 100%;
      padding: 10px;
      background-color: #4CAF50;
      color: #FFFFFF;
      border: none;
      border-radius: 5px;
      margin-top: 20px;
      cursor: pointer;
    }
    #id_email {
    width: 80%;
    height: 50px;
    font-size: 20px;
  }
</style>
{% endblock %}

{% block header_class %}{% endblock %}

{% block content %}

<h1>Password Reset Complete</h1>
  <p style="margin-left:20px;">Your password has been reset successfully. You can now log in with your new password.</p>



{% endblock %}

{% block scripts %}

{% endblock %}
