{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block title %} {% trans 'Password Reset Successful - Secure Access to AI-Powered arXiv Paper Summaries' %} {% endblock %}
{% block extra_head_tags %}
  <meta name="description" content="{% trans 'Your password reset was successful! Log in securely to our AI-powered arXiv paper summarization service to access your account and view your past summaries. Our secure system ensures that your data is protected and your account is safe. Get fast, accurate, and easy-to-read paper summaries.' %}" />
  <!--add text-->
  <style>
    body {
      background-color: #F5F5F5;
      font-family: Arial, sans-serif;
      font-size: 16px;
    }



    h1 {
      text-align: center;
      margin-bottom: 40px;
    }


</style>
{% endblock %}

{% block header_class %}{% endblock %}

{% block content %}

<h1>Password Reset Sent</h1>
  <p style="margin-left:30px;">An email has been sent to your address with instructions on how to reset your password.</p>

{% endblock %}

{% block scripts %}

{% endblock %}
